.button-wrapper{
	display: inline-block;
}

.button-wrapper > button {
	display: block;
	background-image: url(../media/button.png);
	background-repeat: no-repeat;
	background-color: transparent;
	height:	110px;
	width: 100px;
	border:	none;
	margin: 5px;
}

.button-wrapper > .light {
	margin: 0 auto;
	height: 15px;
	width: 15px;
	display: block;
	border: 1px;
	border-style: solid;
}

.button-wrapper.selected > .light {
	background-color: lime;
}



.button-wrapper.player-button > button:active {
	background-image: url(../media/button-pressed.png);
}

.center-button {
	background-image: url(../media/center-button.png);
	margin-left: 50px;
	margin-right: 50px;
	background-repeat: no-repeat;
	background-color: transparent;
	height:	110px;
	width: 100px;
	border:	none;
}

.center-button.player-button:active {
	background-image: url(../media/center-button-pressed.png);
}

.button-block {
	display: block;
}
