body, html{
    margin:0;
    padding:0;
    background:#333;
}
#gamesList {
	border-style: solid;
	border-width: 3px;
}

#buttons {
	width: 100%
}

#buttons > div {
	display: inline-block;
	padding: 5px;
    font-family: sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
    border: solid #FFF;
    border-radius: 15px 15px 0px 0px;
	cursor: pointer;
}

#buttons > div:hover {
    background-color:#666;
    color:#99F;
}
#buttons > div:active {
    border: solid #99F;
}

#createGame {
	
}

#leaveGame, #refresh {
	
}

#gameCanvas {
	
}

.game:hover {
	cursor: pointer;
}

.modal-bg {
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
	display: none;
	position: fixed;	
	height: 100%;
	width: 100%;
	z-index: 1;	
	left: 0;
	top: 0;		
}

.modal {
	background: white;
	display: none;
	position: fixed;
	padding: 10px;
	border-radius: 6px;
	width: auto;
	height: auto;
	z-index: 2;
}

.modal a {			
	float: right;	
}

#settings {
	padding: 20px;
}

#gameSpace {
	border-style: solid;
	border-width: 1px;
}
h1{
    font-family: sans-serif;
    color:#FFF;
    text-shadow:0px 0px 15px #000;
    text-align: center;
    font-size: 60px;
}
.hotkey{
    color:yellow;
}